<div class="header navbar navbar-default navbar-fixed-top reverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#start"><img src="{{ url_for("static", filename="logos/kdelogo.png") }}"/><span class="article_title hidden">{% trans %}Akademy-es 2013{% endtrans %}</span></a>
		</div>
		<div class="collapse navbar-collapse">
			<div class="bookmark">
				<ul class="nav navbar-nav chapters">
					<li class="active"><a href="#start">{% trans %}Intro{% endtrans %}</a></li>
					<li><a href="#dayone">{% trans %}Día I{% endtrans %}</a></li>
					<li><a href="#daytwo">{% trans %}Día II{% endtrans %}</a></li>
				</ul>
			</div>
			</ul>
	<ul class="nav navbar-nav navbar-right">
	<style type="text/css" media="screen">
	iframe { vertical-align: top; }
</style>
<div class="social">
<script src="http://connect.facebook.net/es_ES/all.js#xfbml=1"></script>
<div class="fb-share-button" data-href="http://akademyes2013.mgonzalez.org" data-type="button_count"></div>  
<a href="https://twitter.com/share" class="twitter-share-button" data-via="KDE_Espana" data-lang="es" data-hashtags="akademyes">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
				</ul>

		</div><!--/.nav-collapse -->
		
	</div>
</div>